@{
    ProductPartialViewModel model = Model;
    var categories = model.Categories;
    var products = model.Products;
}
<section>
    <div class="product-grid row ">
        @foreach (var item in products)
        {
            <div class="col-md-4 my-4">

                <div class="card position-relative">
                    <a asp-controller="productdetails" asp-action="index"><img src="~/images/@item.CoverImageUrl" class="img-fluid rounded-4" alt="image"></a>
                    <div class="card-body p-0">
                        <a asp-controller="productdetails" asp-action="index">
                            <h3 class="card-title pt-4 m-0">@item.Name</h3>
                        </a>

                        <div class="card-text">
                            <span class="rating secondary-font">
                                <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                                5.0
                            </span>

                            <h3 class="secondary-font text-primary">$@item.Price</h3>

                            <div class="d-flex flex-wrap mt-3">
                                <a asp-controller="basket" asp-action="addtobasket" asp-route-id="@item.Id" class="btn-cart me-3 px-4 pt-3 pb-3">
                                    <h5 class="text-uppercase m-0">Add to Cart</h5>
                                </a>
                                <a href="#" class="btn-wishlist px-4 pt-3 ">
                                    <iconify-icon icon="fluent:heart-28-filled" class="fs-5"></iconify-icon>
                                </a>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        }
    </div>


</section>






