@model PetShop.Models.FooterViewModel
<footer id="footer" class="my-5">
    <div class="container py-5 my-5">
        <div class="row">
            <!-- Footer sütunları buraya -->
        </div>
    </div>
</footer>

<div id="footer-bottom">
    <div class="container">
        <hr class="m-0">
        <div class="row mt-3">
            <div class="col-md-6 copyright">
                <p class="secondary-font">© 2023 Waggy. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="secondary-font">
                    Free HTML Template by <a href="https://templatesjungle.com/" target="_blank"
                                             class="text-decoration-underline fw-bold text-black-50"> TemplatesJungle</a>
                </p>
            </div>
        </div>
    </div>
</div>
